/* ν—¤λ” */
#h_container {width: 1380px; margin: 0 auto;}
#header {width: 100%;}

#header .inr {display: flex;
 height: 100px; width: 100%;
}
#header h1{
    padding: 11px;
    width: 12%;
    }
#header h1 a {display: block;}
#header h1 a img {
    width: 120px;}

#header .inr_nav {width: 70%;
    padding: 0 6% 0 12%;   }
#header .gnb {    line-height: 100px;
    float: left;
 }
   
 #header .gnb li {float: left;
    display: block;
    padding:0 25px;
 }
#header .gnb > li > a {
    color: #000;
    font-size: 17px;
    text-align: center;
    font-family: 'Lato'; font-weight: 700;
}
#header .inr .icon {
    width: 18%;
}
.icon ul {width: 100%;
    text-align: center;
    float:left;
  
}
.icon ul li {width: 50%;
    display: block;
border-left: 1px #ddd solid;
padding: 27px;
float: left;}

.icon ul li:last-child {
    border-right: 1px #ddd solid;
}
.icon ul li a {}

.icon .caption {
     font-family: 'Lato';
     font-size: 15px; color: rgb(149, 149, 149);
    font-weight: 600;
    }

#header .m_inr {
display: none;
}

/* ν‘Έν„° */
#footer {
    width: 100%;
    background: #00203d;
    font-family: 'Noto Sans KR';
    font-weight: lighter;
    font-size: 15px;
}

#footer .footer {width: 100%;
    color: #fff;
}

.footer .begin {width: 100%;
    padding:5% 2% 3% 1%;
display: flex;}

.footer .begin .sns {width: 50%;
}
.footer .begin .sns ul {float:left}

.footer .begin .sns h5 {
    font-size: 19px;
}

.footer .begin .sns li {
    float: left;
    padding-right: 40px;
}

.footer .begin .sns img {
    width: 30px;
    float: left;
}

.footer .begin .info {width: 50%;
}
.footer .begin .info ul {
    float: right;
}
.footer .begin .info li {
    float: left;
    padding-left: 40px;
}

.footer .middle {
    display: block;
    border-top: 1px solid #ccc;
    padding: 4% 1%;
}

.footer .middle h5 {
    font-size: 18px;
}
.footer .middle .address
{        padding-top: 1%;
}
.footer .middle p {
    line-height: 1.6em;
}

#footer .footer_ {
    width: 100%;
    background: #01182e;
}

.footer_ .end {
    padding: 20px;
    text-align: center;
}

.footer_ .copyright {
    color: #fff;
    font-size: 13px;
}